@font-face {
  font-family: Circular Std;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/CircularStd-Medium.eot);
  src: url(../fonts/CircularStd-Medium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/CircularStd-Medium.woff) format("woff"),
    url(../fonts/CircularStd-Medium.woff2) format("woff2"),
    url(../fonts/CircularStd-Medium.ttf) format("truetype");
}
@font-face {
  font-family: Circular Std;
  font-weight: 400;
  font-style: italic;
  src: url(../fonts/CircularStd-MediumItalic.eot);
  src: url(../fonts/CircularStd-MediumItalic.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/CircularStd-MediumItalic.woff) format("woff"),
    url(../fonts/CircularStd-MediumItalic.woff2) format("woff2"),
    url(../fonts/CircularStd-MediumItalic.ttf) format("truetype");
}
@font-face {
  font-family: Circular Std;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/CircularStd-Bold.eot);
  src: url(../fonts/CircularStd-Bold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/CircularStd-Bold.woff) format("woff"),
    url(../fonts/CircularStd-Bold.woff2) format("woff2"),
    url(../fonts/CircularStd-Bold.ttf) format("truetype");
}
@font-face {
  font-family: Circular Std;
  font-weight: 700;
  font-style: italic;
  src: url(../fonts/CircularStd-BoldItalic.eot);
  src: url(../fonts/CircularStd-BoldItalic.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/CircularStd-BoldItalic.woff) format("woff"),
    url(../fonts/CircularStd-BoldItalic.woff2) format("woff2"),
    url(../fonts/CircularStd-BoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: Circular Std;
  font-weight: 900;
  font-style: normal;
  src: url(../fonts/CircularStd-Black.eot);
  src: url(../fonts/CircularStd-Black.eot?#iefix) format("embedded-opentype"),
    url(../fonts/CircularStd-Black.woff) format("woff"),
    url(../fonts/CircularStd-Black.woff2) format("woff2"),
    url(../fonts/CircularStd-Black.ttf) format("truetype");
}
@font-face {
  font-family: Circular Std;
  font-weight: 900;
  font-style: italic;
  src: url(../fonts/CircularStd-BlackItalic.eot);
  src: url(../fonts/CircularStd-BlackItalic.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/CircularStd-BlackItalic.woff) format("woff"),
    url(../fonts/CircularStd-BlackItalic.woff2) format("woff2"),
    url(../fonts/CircularStd-BlackItalic.ttf) format("truetype");
}
