* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #5a7184;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 900px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: "Gilroy", sans-serif;
  background: #fff;
  min-height: 100vh;
  font-style: normal;
}
p {
  font-size: 0.975rem;
  color: #5a7184;
  line-height: 1.75rem;
}
.link {
  white-space: nowrap;
}

.c-bold {
  font-weight: 700 !important;
}
.c-semi-bold {
  font-weight: 600 !important;
}

.c-light {
  font-weight: 300 !important;
}
.c-title {
  /* font-size: 2.5rem; */
  color: var(--dark-blue);

  &--small {
    font-size: 1.125rem;
    color: var(--dark-blue);
  }
}

.text-cus-col {
  color: var(--dark-blue) !important;
}

.c-normal {
  font-weight: 400;
}

.sub-text {
  font-size: 1.125rem;
  max-width: 500px;
}

.btn-custom {
  padding: 1.4rem 2rem;
  font-size: 0.95rem;
  letter-spacing: 0.1875rem;
  border-radius: 0.5rem;
}

@media (min-width: 1420px) {
  .container {
    max-width: 1240px;
  }
}
