.btn-custom {
  min-width: 220px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../assets/images/Path.png);
  background-position: top right;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  border-radius: 8px;
  font-family: "Trueno Regular";
  font-weight: normal;
  font-size: 1rem;

  &--white {
    background: url(../../assets/images/btn-bg.png);
    background-position: top right;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    font-family: "Trueno light";
    font-weight: normal;
    font-size: 0.9rem;
    color: var(--primary);
  }
}
