.footer {
  &__logo-container {
    width: 100%;
    text-align: center;
  }
  &__links {
    width: 100%;
    a {
      display: inline-block;
      width: 100%;
      text-align: center;
      padding: 1rem 0;
      padding-left: 0;
      &:last-child {
        width: auto;
        margin: auto;
      }
    }
  }
}

@media only screen and (min-width: 650px) {
  .footer__links a {
    width: 25%;
  }
  .footer__links a:last-child {
    margin: auto;
  }
}

@media only screen and (min-width: 992px) {
  .footer__links a {
    width: auto;
  }
  .footer__links {
    width: auto;
  }
  .footer__links a:last-child {
    margin: auto;
  }
}
@media only screen and (min-width: 1025px) {
  .footer__links a:last-child {
    margin-left: 2rem;
  }
}
@media only screen and (min-width: 1320px) {
  .footer__logo-container {
    width: auto;
  }
}
